body{
    font-family: 'Poppins';
    margin: 0;
    height: 0;
}
.App {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
  }
  .search_panel {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: #FFFFFF;
    position: fixed;
    top: 0;
  }
  h1 {
    font-size: 1.7rem;
  }
  form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
  }
  .search_input {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin-top: 80px;
    margin-bottom: 80px;
    width:50vw;
    padding: 5px 10px;
    font-size: 1rem;
    text-align: center;
    border: 3px solid #111111;
  }
  .search_input::placeholder {
    color: #acacac;
  }
  .search_input:focus {
    outline: none;
  }
  .search_btn {
    border: none;
    color: #8D29FF;
    background: #FFFFFF;
    font-size: 1.3rem;
  }
  .search_Btn:focus:active {
    outline: none;
  }
  .gallery-container {
    margin-top: 300px;
    width: 80vw;
    height: 50 vw;
  }
  .randomPhoto {
    width: 100%;
    height: 100%;
  }

  @media only screen and (max-width: 590px) {
    h1 {
      font-size: 1.3rem;
    }
    form {
      height: 80px;
    }
    .gallery-container {
      margin-top: 200px;
    }
  }
  @media only screen and (max-width: 390px) {
    h1 {
      font-size: 1.1rem;
    }
    .gallery-container {
      margin-top: 160px;
    }
  }
  @media only screen and (max-width: 325px) {
    h1 {
      font-size: 1rem;
      text-align: center;
    }
  }